h1{
    color: blue;
    font-size: 46;
}

h2{
    color: red;
    font-size: 35;
}

.button{
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}

.button{
    background-color: blue;
    color: aqua;
    border-color: blanchedalmond ;
}



